body {
    max-width: 50em;
    padding: 2em; 
    font-family: Arial, serif;
    line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6 { 
    font-family: "Century Gothic", Tahoma, Arial, sans-serif; 
    font-weight: 600;
}
h1 {
    font-size: 15pt;
    margin-bottom: 1em;
}
h2 {
    font-size: 12pt;
}
.title {font-style: italic}
a {color: blue;}
dl {
    margin: 1em 0px;
}
dd {
    padding-left: 2em;
}
dt {
    font-weight: bold;
    margin-top: 0.5em;
}
#provenance dl {
    margin-left: 2em;
}
